@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Varta&family=Yatra+One&display=swap");

:root {
  --primary: #2d607c;
  --primary-light: #4d84a1;
  --primary-dark: #184762;
  --primary-disabled: #a0b6c1;
  --on-primary: #e8e8e8;
  --surface: #f8f8f8;
  --background: #fdba1a;
  --background-dark: #f09d06;
  --font-header: "Yatra One", "Arial";
  --font-content: "Varta", "SansSerif";
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  :root {
    --space-small: 5px;
    --space-medium: 10px;
    --space-large: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  :root {
    --space-small: 7px;
    --space-medium: 15px;
    --space-large: 30px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :root {
    --space-small: 7px;
    --space-medium: 15px;
    --space-large: 30px;
  }
}

* {
  box-sizing: border-box;
}
